<h1>Books</h1>
<table>
    <thead>
  	<th>Title</th>
  	<th>Body</th>

  </thead>
  <tbody>
  <tr>
    <% @books.each do |book| %>
  	<td><%= book.title %></td>
  	<td><%= book.body %></td>
  	<td><%= link_to "Show",book_path(book) %></td>
  	<td><%= link_to "Edit",edit_book_path(book) %></td>
    <td><%= link_to "Destroy",book_path(book), method: :delete %></td>
  </tr>
   <% end %>
  </tbody>

</table>

<h4>New book</h4>
<%= form_for(@book) do |f| %>

<h5>Tilte</h5>
<%= f.text_field :title %>
<h5>Body</h5>
<%= f.text_area :body %><br>

<%= f.submit 'Create Book'%>

<% end %>

<%= form_for(@book) do |f| %>
 <% if @book.errors.any? %>
  <p><%= @book.errors.count %>件のerror</p>
   <ul>
    <% @book.errors.full_messages.each do |message| %>
     <il><%= message %></il>
    <% end %>
   </ul>
 <% end %>
<% end %>



